.panel.panel-default.hidden-xs.small-chat#chat-box
  .panel-heading
    h3.panel-title 
      small.fa.fa-chevron-up#toggle-chat(style="font-size: 80%;")
      |  Global Chat &nbsp;
      small.right.fa.fa-volume-up#mute-toggle(title="Toggle the sound notification.")
      small.right.fa.fa-filter#filter-toggle(title="Toggle profanity filter.")
  .panel-body#chat-messages.small-chat
    
  form#chat-controls.form-inline.small-chat(role="form")
    input.form-control#chat-message.small-chat(type="text", maxlength="100", name="message", autocomplete="off")
    button#send-message.small-chat.btn.btn-primary(type="button", data-username=currentUser.username) Send
