.panel.panel-default.hidden-xs.small-box#chat-box
  .panel-heading
    h3.panel-title Global Chat
      small#toggle-chat.small-box(data-show="true")  (toggle)
      small.right#mute-toggle (Mute)
  .panel-body#chat-messages
    
  form#chat-controls.form-inline.small-box(role="form")
    input.form-control#chat-message(type="text", name="message")
    button#send-message.btn.btn-primary(type="button", data-username=currentUser.username) Send
