extends /layout

block content
  .container-fluid
    include /info
    .jumbotron.no-margin
      h1.no-margin= title
      br
      #stats.larger
        b This year's stats:
        span(data-toggle="tooltip", title="Hooray!")  0 homework assignments, 
        span(data-toggle="tooltip", title="Hooray!") 0 tests, 
        span(data-toggle="tooltip", title="Hooray!") 0 quizzes, 
        span(data-toggle="tooltip", title="Hooray!") 0 projects

    .row
      .col-xs-12.visible-xs
        if currentUser.scheduleObject.scheduleDays[moment().format("MM/DD/YY")]
          a.btn.btn-default(href="/work/today", title="View the work due today!") Today's Work
        a.btn.btn-default(href="/work/closest", title="Find the closest day from today that you have work!") Closest Work Day
        
      .col-xs-12.col-sm-6.col-md-3#due-today
        .page-header
          h2 Due Today
            small.right 0 items
        
        .col-xs-12
          p.text-center Nothing!
      
      .col-xs-12.col-sm-6.col-md-3#upcoming(data-closest=closestDay)
        .page-header
          h2 Upcoming
            small.right 0 items
        
        .col-xs-12
          p.text-center Nothing!
      
      .col-xs-12.col-sm-6.center
        img(style="width: 100%; max-height: 500px;", src="/images/graph.png")
      .col-xs-12
        hr
