extends /layout

block content
  .container
    .page-header
      h1 User Feedback
    
    if feedback == false
      .col-xs-12.center
        h3 Nobody has submitted any feedback yet! :(
    else
      .row
        for f in feedback
          .col-xs-12.col-sm-4
            .panel(class=(f.feedbackType == "Problem" ? "panel-danger" : "panel-primary"))
              .panel-heading
                h2.panel-title= f.feedbackType
              .panel-body
                p.no-margin= f.text
