extends /layout

block content
  .container
    .row
      .page-header
        h1 User Logs
      
      .col-xs-12
        table.table.table-striped
          thead
            th Who
            th What
            th When
          for log in logs
            tr
              td.user-badge(title=log.who.username, data-username=log.who.username)= log.who.fullName
              td= log.what
              td(title=moment(log.when).format("dddd, MMMM Do YYYY, h:mm:ss a"))= moment(log.when).fromNow()
