extends /layout

block content
  .container
    include /info
    .page-header
      h1 Edit Your Profile
    
    .row
      .col-xs-12
        form.form(role="form", method="POST")
          .form-group
            label(for="newnickname") Nickname
            input.form-control(type="text", name="newnickname", maxlength="50", value=currentUser.nickname)
          .form-group
            label(for="newbio") Bio
            textarea.form-control#newbio(name="newbio")= currentUser.bio
          .form-group
            label(for="newsteamlink") Steam Profile Link
            input.form-control#newsteamlink(type="url", name="newsteamlink", value=currentUser.steamlink)
          button.btn.btn-primary Save
