.modal.fade.in#login-modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        if openLogin
          h4.modal-title Login to Access Page
        else
          h4.modal-title Login to OnTrac
      .modal-body
        .container-fluid
          .row
            .col-xs-12
              form#login-form(method="POST", data-redirect=redir)
                span#login-errors
                .form-group.col-xs-12.col-sm-6
                  label(for="username") Regis Username
                  input.form-control#username(required=true, name="username", maxlength="50", placeholder="Username", type="text")
                .form-group.col-xs-12.col-sm-6
                  label(for="password") Regis Password #[a(href="#", onclick="$('#login-info').toggle();") ?]
                  input.form-control#password(required=true, name="password", maxlength="50", placeholder="Password", type="password")
                
                #login-info
                  p.
                    I do not store any passwords at all. I just pass what you enter here to the Regis login page to 
                    determine whether correct credentials are entered or not. This is just to remove the need for
                    registration and make logging in simpler.
                  br
                  span Don't believe me? See #[a(target="_blank", href="https://github.com/Apexal/ontrac/blob/master/server/routes/index.js") for yourself].

                button.btn.right.btn-primary#login-button Login

script.
  sessionStorage.unread = 0;
  sessionStorage.advunread = 0;
