extends /layout

block content
  .container
    .page-header
      h1 Courses
        small.right #{courses.length} found
      include /info

    .row
      .col-xs-12
        for c in courses
          .panel.panel-default
            .panel-body
              h3= c.title
                if c.teacher
                  small.right= c.teacher.lastName
