extends /layout

block content
  .container
    include /info
    .page-header
      h1 Courses
        small.right #{courses.length} found

    .row
      .col-xs-12
        for c in courses
          .panel.panel-default
            .panel-body
              h3
                a.undecorated(href="/courses/"+c.mID)= c.title
                if c.teacher
                  small.right= c.teacher.lastName
              if c.students
                span This course has #[b= c.students.length] students enrolled.
