extends /layout

block content
  .container
    .page-header
      if course == false
        h1 No Such Course Exists
      else
        h1.left Course #{course.title}
          small.right Teacher #[a(href="/teachers/"+course.teacher.mID)= course.teacher.fullName}
      include /info

    .row
      .col-xs-12
        if course != 0
          img(src=course.teacher.image, style="width: 150px")
        else
    .row
      .col-xs-12
        hr
        a.btn.btn-primary(href="/courses") Back to Courses
