/*** SHARED CSS ***/

.ui-pnotify {
  z-index: 500;
}

@media (min-width: 790px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

html {
  width: 100%;
  height: 100%;
}
body { height: 100%;}

main {
  margin-top: 70px;
  padding-bottom: 70px;
}

main.pushed {
  margin-left: 220px;
}

.jumbotron {
  padding-left: 20px;
  padding-right: 20px;
}

a.undecorated {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;
}

.table-pic {
  width: 50px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.larger {
  font-size: 120%;
}

.full-width {
  width: 100%;
}

.no-margin {
  margin: 0;
}

.center {
  text-align: center;
}

#sidebar {
  overflow: auto;
  z-index: 100;
  padding: 20px;
  padding-top: 50px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  background: #333333;
  height: 100%;
}

#user-status {
  cursor: pointer;
}

#sidebar ul.nav a, #day-controls a{
  text-decoration: none;
  color: white;
}

#sidebar ul.nav li a:hover, #sidebar ul.nav li.active a {
  color: #222222;
  background-color: #e6e6e6;
}

#sidebar-pic {
  border: 2px solid #222222;
  width: 40%;
  min-width: 100px;
}

#online-list, #online-list-mobile {
  color: #333;
  padding: 10px;
  font-size: 85%;
  background-color: white;
  overflow: auto;
  word-wrap: break-word;
}

#next-schedule .list-group, #todays-schedule .list-group{
  color: #222;
}

#agenda ul{
  padding-left: 10px;
}

#online-list {
  max-height: 200px;
}

#online-list-mobile {
  max-height: 100px;
}

#scheduleDaySidebar {
  background-color: white;
  color: #222;
}

#user-status {
  display: inline-block;
}

.online-badge {
  margin-left: 10px;
  display: inline-block;
}

@media (max-width: 768px) {
  #sidebar {
    display: none;
  }
  main.pushed {
    margin-left: initial;
  }
}

#day-controls {
  font-weight: bold;
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#day-controls.short {
  width: 20%;
}


span.badge {
  margin-left: 5px;
}

#reminders-count {
  display: none;
}

.modal-pic{
  max-width: 100px;
}

#nextclass-room, #nowclass-room {
  font-size: 80%;
}

/* USER MODAL */

.user-badge {
  cursor: pointer;
}

/* TEACHER MODAL */
.teacher-badge {
  cursor: pointer;
}

.course-badge {
  cursor: pointer;
}

/* REMINDER MODAL */

#reminder-form input {
  width: 80%;
}
#reminder-form button {
  width: 20%;
}

@media (max-width: 768px) {
  #reminder-form input {
    width: 100%;
  }
  #reminder-form button {
    width: 100%;
  }
}



/* FEEDBACK MODAL */

#feedback-text {
  min-width: 100%;
  max-width: 100%;
  min-height: 80px;
  max-height: 200px;
}

/* LOGIN MODAL */
#login-info {
  display: none;
}


#schedule {
  width: 100%;
  height: 100%;
}



#brand {
  padding: 4px 0;
}

#ontrac-img {
  width: 45px;
}


#user-status b {
  text-transform: capitalize;
}

.service{
  padding-left: 8px !important;
  padding-right: 8px !important;
  font-size: 1.4em;
  transition: font-size .2s;
}

.service:hover {
  font-size: 1.6em;
}

#status-circle {
  vertical-align: middle;
  margin-bottom: 2px;
}

/*
.tilt {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .2s ease-in-out;
}

.tilt:hover {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
*/

.nb {
  background-color: #999;
}

.nav .popover{
  font-size: 0.9em;
  white-space: nowrap;
}

#advertisements {
  width: 350px;
  margin: 0 auto;
}

.slidesjs-pagination{
  display: none;
}

a.slidesjs-navigation {
  color: #222;
  text-decoration: none;
  font-weight: bold;
}

.slidesjs-previous {
  margin-right: 20px;
}
