/* Day Pages */

.right-spacer {
  padding-right: 30px;
}

.day-list-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.day-list-info .has {
  font-weight: bold;
}

/* Homework Pages */

#schedule-day {
  font-size: 2em;
  cursor: pointer;
}

#homework-form * {
  margin-bottom: 0;
}

#homework-form div {
  padding-left: 0;
  padding-right: 0;
}

#set-hw-link {
  cursor: pointer;
}

.hw-item .title{
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 1.4em;
}

.assignment.completed {
  text-decoration: line-through;
}

.remove-assignment {
  font-size: 0.8em;
  cursor: pointer;
}

.timeline {
  max-width: 320px;
}

.timeline .stream {
  max-height: 400px;
}
