/* Intro-page */

.jumbotron p b {
  font-weight: 400;
}

.tab-pane {
  border: 1px solid #ddd;
  border-top: none;
  padding: 10px;
}

.tab-pane p {
  margin: 0;
}

#regis-pic {
  margin: 0 auto;
}

#tabs .nav-tabs a[role="tab"]{
  outline: none;
}

#moodle-links a {
  display: inline-block;
}

#due-closest .progress, #due-today .progress {
  margin-bottom: 0;
}

.quote {
  margin: 0;
}

.quote p b {
  display: block;
}

.quote br {
  display: none;
}

.quote p a {
  font-size: 0.7em;
}

.quote p a:before {
  content: "~"
}

.quote p b {
  font-weight: bold;
}

.cl-sd {
  padding-left: 4px;
}

#work-calendar {
  max-width: 900px;
  margin: 0 auto;
}

#thoughtbox textarea{
  min-width: 100%;
  width: 100%;
  max-width: 100%;

  min-height: 45px;
  max-height: 200px;

  font-size: 0.8em;
  padding: 8px;
}

#thoughtbox button {
  width: 100%;
}

#terms {
  display: none;
}

#terms .scroll{
  height: 300px;
  overflow: scroll;
  background-color: white;
}
