/* User List Page */

@media (max-width: 768px) {
  #bottom-bar {
    max-height: none;
  }

  .center-xs {
    text-align: center;
  }
}

.user-box {
  margin: 0 auto;
  margin-bottom: 20px;
}

.user-box, .user-box img {
  /*min-height: 200px;*/
  width: 160px;
}

#stars {
  position: absolute;
}


.user-adv {
  position: absolute;
  bottom: 45px;
  font-size: 1.7em;
  font-weight: bold;
  color: #222;
  left: 105px;
}

.profile-user-adv {
  position: absolute;
  bottom: 95px;
  font-size: 1.8em;
  font-weight: bold;
  color: #222;
  left: 135px;
}

.user-verified {
  padding-right: 5px;
}

#profile-status {
  margin-left: 8px;
  width: .34em;
  margin-bottom: 7px;
}


/* User Profile Page */

#profile-pic, .holder {
  margin: 0 auto;
  max-width: 200px;
  min-height: 100px;
  min-width: 150px;
}

.user-list-status {
  width: 10px !important;
  height: 10px !important;
}

#achievements-modal li.achieved {
  color: #999;
  text-decoration: line-through;
}

#leaderboard img {
  width: 60px;
}

.lb-pos-1 {
  font-size: 2em;
}

.lb-pos-2 {
  font-size: 1.8em;
}

.lb-pos-3 {
  font-size: 1.6em;
}

.lb-pos-4 {
  font-size: 1.4em;
}

.lb-pos-5 {
  font-size: 1.2em;
}

.user-box button {
  padding-left: 0;
  padding-right: 0;
}
