/* Work Pages */

.right-spacer {
  padding-right: 30px;
}


/* Homework Pages */

#schedule-day {
  font-size: 2em;
  cursor: pointer;
}

#schedule-day .fa {
  font-size: 0.7em;
  color: inherit;
  margin-top: 9px;
}

#homework-form * {
  margin-bottom: 0;
}

#homework-form div {
  padding-left: 0;
  padding-right: 0;
}

#set-hw-link {
  cursor: pointer;
}

.hw-item .title{
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  font-size: 1.6em;
}

.assignment.completed {
  text-decoration: line-through;
}

.worklist .fa {
  font-size: 0.8em;
  cursor: pointer;
}

.worklist {
  padding: 30px;
}

i.fa.fa-close.remove-assignment {
  display: none;
}
