extends /layout

block content
  .container
    include /info
    .page-header
      h1 Days
    
    span.user-badge(data-username="fmatranga18") fmatranga18
    span.teacher-badge(data-username="mvode") mvode
