extends /layout

block content
  .container
    .page-header
      h1 Advisements
        if loggedIn == false
          small.right Login for more info.

    for a in advisements
      .col-xs-12.col-sm-6.col-md-4
        .panel(class=(loggedIn == true && "Advisement "+currentUser.advisement == a.title ? "panel-primary" : "panel-default"))
          .panel-heading
            b= a.title
            
            //  if users.length > 0
            //    a.right(style="color: white;", href="/advisements/"+a) #{users.length + " "+helpers.pluralize(users.length, "User", "Users")}
          .panel-body
            span Log in to see what users in #[b= a.title] have registered.
