extends layout

block content
  .container
    .page-header
      h1 Advisement #{advisement}
      h3 #[b= advisement] has #[b= users.length] registered #{helpers.pluralize(users.length, "user", "users")} and is advised by #[b NAME].
    .col-xs-12
      .row
        for user in users
          .col-xs-12.col-sm-6.col-md-6.text-center
            .advisement-user-box
              img(alt=user.bio, src="https://webeim.regis.org/photos/regis/Student/"+user.code+".jpg")
              .btn-group.full-width
                button.full-width.btn.btn-default.dropdown-toggle(data-toggle="dropdown", ara-expanded="false", type="button")= user.fullName+" "
                  span.caret
                ul.dropdown-menu(role="menu")
                  li
                    if loggedIn
                      a(href="/users/"+user.username) View Profile
                      a(href="/users/"+user.username+"/schedule") View Schedule
                    a(href="mailto:"+user.email) Email
      .row
        hr
