if errs
  for e in errs
    .row
      .col.s12
        .card-panel.red
          span.white-text= e

if info
  for i in info
    .row
      .col.s12
        .card-panel.green
          span.white-text= i
