if info != null
  .alert.alert-info.alert-dismissible(data-dismiss="alert", aria-label="Close", role="alert")= i
    for i in info
      | #{i}
      br
    button.close(data-dismiss="alert")

if errs != null
  .alert.alert-danger.alert-dismissible(data-dismiss="alert", role="alert")= err
    for err in errs
      | #{err}
      br
    button.close(type="button", data-dismiss="alert")
      span &times;
