if info != null
  for i in info
    .alert.alert-info.alert-dismissible(data-dismiss="alert", aria-label="Close", role="alert")= i
      button.close(data-dismiss="alert")

if errs != null
  for err in errs
    .alert.alert-danger.alert-dismissible(data-dismiss="alert", role="alert")= err
      button.close(type="button", data-dismiss="alert")
        span &times;
