for i in info
  script.
    setTimeout(function(){sendNotification('info', '', "#{i}");}, 500);

for i in errs
  script.
    setTimeout(function(){sendNotification('error', '', "#{i}");}, 500);
  
.alert.alert-danger OnTrac is in Alpha and should not yet be used for a reliable organization platform. Thank you for being an Alpha Tester!
