for i in info
  script.
    setTimeout(function(){sendNotification('info', '', "#{i}");}, 500);

for i in errs
  script.
    setTimeout(function(){sendNotification('error', '', "#{i}");}, 500);
  
.alert.alert-danger #[b WARNING:] OnTrac is in Alpha and should not yet be used for a reliable organization platform. Thank you for being an Alpha Tester!
.alert.alert-danger.visible-xs #[b WARNING:] Mobile support is still shaky! That will be fixed in upcoming versions.
