doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="Frank Matranga")

    // Title is different for each page
    title= title

    // Bootstrap
    //link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    //link(rel='stylesheet', href='https://bootswatch.com/paper/bootstrap.min.css')

    // Material Design
    link(rel='stylesheet', href='/stylesheets/materialize.min.css')

    // JQuery
    link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/black-tie/jquery-ui.css")

    // Font Awesome
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

    // My own
    link(rel="stylesheet", href="/stylesheets/all.css")

  body
    header
      .navbar-fixed
        nav
          .nav-wrapper
            a.brand-logo.center(href="#") Adiutor
            a.button-collapse(href="#", data-activates="nav-mobile")
              i.mdi-navigation-menu(style="margin-left: 20px;")
            ul.side-nav#nav-mobile
              li.active
                a(href="/") Home
              li
                a(href="/users") Users
              li
                a(href="#") Test
            ul.left.hide-on-med-and-down
              li.active
                a.mdi-action-home(href="/")
              li
                a(href="/users") Users
              li
                a(href="#") Test

            .valign-wrapper.right(style="width: 60px; height: 100%")
              if loggedIn
                  #navbar-photo.right(style="background-image: url(https://webeim.regis.org/photos/regis/Student/"+currentUser.code+".jpg)")
              else
                a(href="/login", style="height: 100%")
                  #navbar-photo.right(style="background-image: url(http://www.clker.com/cliparts/5/7/4/8/13099629981030824019profile.svg.med.png)")

            ul.right.hide-on-small-only
              if loggedIn
                li
                  a(href="#")= currentUser.fullName
              else
                li
                  a(href="/login") Not Logged In

    main
      .container
        block content

    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src='http://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    script(src='/javascripts/materialize.min.js')
    script(src='/javascripts/effects.js')
    //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
