doctype html

html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //meta(name="description", content="")
    meta(name="author", content="Frank Matranga")

    title= title
    
    include /parts/css
    include /parts/js

  body
    include /parts/header
    
    if loggedIn
      include /parts/sidebar

    main(class=(loggedIn ? "pushed" : ""))
      if loggedIn
        include /parts/feedback-modal
        include /parts/reminders
      else
        include /users/login-modal
      
      block content      
      if loggedIn && helpers.isPage(page, "chat") == false
        include /chat/chatbox
    
    if loggedIn
      include /parts/footer
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js")
    script(src='/socket.io/socket.io.js')
    script(src="/build/js/script.js")
    //
      if loggedIn
        script(src='/javascripts/modals.js')
      script(src='/javascripts/effects.js')
      if loggedIn
        
      script(src='/javascripts/sockets.js')
    
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
