doctype html

html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //meta(name="description", content="")
    meta(name="author", content="Frank Matranga")

    title= title
    
    link(rel="stylesheet", href="/style.css?999")
    link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/black-tie/jquery-ui.css")
    link(rel="stylesheet", href="https://raw.githubusercontent.com/daneden/animate.css/master/animate.css")

  body
    include /parts/header
    
    if loggedIn
      include /parts/sidebar

    main(class=(loggedIn ? "pushed" : ""))
      if loggedIn
        include /parts/feedback-modal
        include /parts/reminders
      else
        include /users/login-modal
      
      block content      
      if loggedIn
        include /chat/chatbox
    
    if loggedIn
      include /parts/footer
    
    script(src='/socket.io/socket.io.js')
    script(src="/script.js?9999")
    if openLogin
      script $(function(){$("#login-modal").modal()})
