doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="Frank Matranga")

    // Title is different for each page
    title= title

    // Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://bootswatch.com/cosmo/bootstrap.min.css')

    // Material Design
    //link(rel='stylesheet', href='/stylesheets/materialize.min.css')

    // JQuery
    link(rel="stylesheet", href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/black-tie/jquery-ui.css")

    // Font Awesome
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

    // My own
    link(rel="stylesheet", href="/stylesheets/all.css")
    script(src='http://code.jquery.com/jquery-2.1.4.min.js')
    script(src='http://code.jquery.com/ui/1.11.4/jquery-ui.min.js')

  body
    header
      nav.navbar.navbar-default.navbar-fixed-top#real-nav
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href=(title=="Worker" ? "#": "/")) Worker
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav
              li(class=(title=="Adiutor" || title=="Your Home" ? "active" : ""))
                a(href="/") Home
              li(class=(helpers.isPage(page, "users")))
                a(href="/users") Users
              li(class=(helpers.isPage(page, "advisements")))
                a(href="/advisements") Advisements

              if loggedIn
                li(class=(helpers.isPage(page, "teachers")))
                  a(href="/teachers") Teachers
                li(class=(helpers.isPage(page, "classes")))
                  a(href="/classes") Classes
                li(class=(title=="Forum" ? "active" : ""))
                  a(href="/forum") Forum
                //
                  li
                    a(target="_blank", href="https://bitbucket.org/apexal/adiutor") Source
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                  if loggedIn
                      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')= currentUser.firstName + " "+currentUser.lastName
                          span.caret
                  else
                      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Not Logged In
                          span.caret
                  ul.dropdown-menu(role='menu')
                      if loggedIn
                        li
                          a(href="/users/"+currentUser.username) View Profile
                        li
                          a(href="/users/profile") Edit Profile
                        li
                            a(href='/logout') Logout
                      else
                        li
                            a(href='/login') Login
                        li
                            a(href='/register') Register

    main
      //.container
      //  .alert.alert-danger(role="alert") Warning! This is the development server, so I have no idea how you found your way here. Don't touch anything!
      block content

    if loggedIn
      footer
        .navbar.navbar-default.navbar-fixed-bottom#real-bottom-nav(style="z-index: 50;")
          .container
            #navbar.navbar-collapse.collapse
              ul.nav.navbar-nav

                li
                  a(href='#') Homework &nbsp;
                    span.badge 4
                li
                  a(href='#') Grades
                li
                  a(href='#') Notes
                li
                  a(href='#') Schedule &nbsp;
                    span.badge 2

              img.right.navbar-pic(src="https://webeim.regis.org/photos/regis/Student/"+currentUser.code+".jpg")

          #mobile-bottom-bar.visible-xs
            span
              a.fa.fa-th-list
            span
              a.fa.fa-line-chart(href="/grader")
            span
              a.fa.fa-pencil-square-o(href="/noter")
            span
              a.fa.fa-calendar(href="/scheduler")
            img.right.navbar-pic(src="https://webeim.regis.org/photos/regis/Student/"+currentUser.code+".jpg")



    //script(src='/javascripts/materialize.min.js')
    //script(src='/javascripts/effects.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
