#terms
  .scroll
    b Please read these Terms of Service completely before using getontrac.info which is owned and operated by Frank Matranga of 2B-1. This Agreement documents the legally binding terms and conditions attached to the use of the Site at getontrac.info.
    br
    br
    p.
      By using or accessing the Site in any way, viewing or browsing the site, or adding your own content to the Site, you are agreeing to be bound by these Terms of Service. 

    b Disclaimer
    p.
      This site and its components are offered for informational and educational purposes only; this site shall not be responsible or liable for the accuracy, usefulness or availability of any information transmitted or made available via the Site, and shall not be responsible or liable for any error or omissions in that information.

    b Use of the Site
    p.
      The OnTrac administration team reserves the right to moderate any public information recorded and displayed on the Site if it is deemed offensive or violates our policies. All information recorded privately during the use of any of the Site's services will remain untouched.

    b Privacy
    p.
      www.getontrac.info uses your Regis credentials entered on login to access the Regis Intranet with your account information solely for the purpose of downloading your daily class schedule and retrieving your test schedule. Regis passwords are NOT saved anywhere on the Site and are only used once on login to get this information. www.getontrac.info does not sell, give, or trade any personal user information gathered including names, emails, and school details to 3rd parties for any purposes.

    p.
      Private info entered and recorded during use of the Site may be anonymously viewed to perform studies on the trends of Regis students from time to time.

    b Termination
    p.
      The OnTrac administration team reserves the right to terminate your account on the Site, without cause or notice, if it is deemed in violation of our policies.

    b Contacts
    p.
      Should you have any further questions, concerns, or queries about these Terms and Conditions, or if you encounter difficulties while navigating and using the site, please contact thefrankmatranga@gmail.com or fmatranga18@regis.org. 

  br
  button.btn.btn-default#back-login Back
  button.btn.btn-danger.right#accept-terms Agree
