extends /layout

block content
  .container
    .page-header
      h1 Why don't they believe you Nick?
    
    .row
      .col-xs-12
        p.
          Nicholas is not lying. I, his lovely older brother, designed this 
          from the ground up. This is not the shabby result of some 'Create Your
          Own Website' thing. This was made from scratch completely by me.
