extends /layout

block content
  .container-fluid
    include /info
    .jumbotron
      h1.no-margin(style="text-transform: capitalize")= "Hello, " + (currentUser.nickname !== "none" ? currentUser.nickname : currentUser.fullName)
      p.no-margin.magictime.swashIn.
        It is #[b#clock Time & Date].
      
    .row
      .col-xs-12
        if nowClass != false
          if nowClass == "free"
            h2.no-margin You are in a free period. Use it wisely!
          else
            h2.no-margin You should be in #[b= "Room "+nowClass.room] for #[b= nowClass.className] right now! 
              small The class ends in #{moment().from(nowClass.endTime)}.
            if nextClass != false
              p.larger.no-margin Your next class is in #[b= "Room "+nextClass.room] for #[b= nextClass.className] which starts #[b= moment().from(nextClass.startTime)]!
          hr
    .row
      .col-xs-12
        h3.no-margin Looking to talk with classmates?
        p.
          Install #[b #[a.undercorated(target="_blank", href="http://wiki.mumble.info/wiki/Main_Page#Download_Mumble") Mumble]],
          it'll only take seconds, and then
          #[b #[a.undecorated(href="mumble://"+currentUser.username+":regis@regismumble.ddns.net/Work?version=1.2.0") Click Here]]
        br
    
    .row
      .col-xs-12
        include tabs
    .row
      .col-xs-12
        br
        p.
          Now remember, OnTrac is in Alpha. This means it is nowhere near done.
          That explains this empty homepage.
      .col-xs-12.center
        img(style="height: 100%; max-height: 500px;", src="/images/graph.png")
        
    hr
