extends /layout

block content
  .container-fluid
    include /info
    .jumbotron.center-xs
      h1.no-margin(style="text-transform: capitalize")= "Good "+helpers.getGreetingTime(moment())+", " + currentUser.nickname
      p.visible-xs.no-margin It is #[b#clock Time & Date].
        if todaysInfo
          span.visible-xs Today is a #[b= todaysInfo.scheduleDay+"-Day"].
      if todaysInfo
        #classInfo
          p.larger Loading class info...          
      
    .row
      .col-xs-12.col-md-6
        h3.no-margin Looking to talk with classmates?
        p.
          Install #[b #[a.undercorated(target="_blank", href="http://wiki.mumble.info/wiki/Main_Page#Download_Mumble") Mumble]],
          it'll only take seconds, and then
          #[b #[a.undecorated(href="mumble://"+currentUser.username+":regis@regismumble.ddns.net/Work?version=1.2.0") Click Here]]
        br
    
    .row
      .col-xs-12
        include tabs
    .row
      .col-xs-12
        br
        p.
          Now remember, OnTrac is in Alpha. This means it is nowhere near done.
          That explains this empty homepage.

    hr
