extends /layout

block content
  .container-fluid
    include /info
    .jumbotron
      h1.no-margin(style="text-transform: capitalize")= "Hello, " + (currentUser.nickname !== "none" ? currentUser.nickname : currentUser.fullName)
      p.no-margin.magictime.swashIn.
        It is #[b#clock Time & Date].
      
    .row
      .col-xs-12
        if nowClass !== false
          if nowClass == "between"
            p.larger.no-margin #[b= justEnded.className] has just ended.
            if justStarted !== false
              h2 Get to #[b= "Room "+justStarted.room] for #[b= justStarted.className+"!"]
          else
            if nowClass.className == "Unstructured Time"
              h2 You are currently in #[b Unstructured Time.]
            else
              h2 You should currently be in #[b= "Room "+nowClass.room] for #[b= nowClass.className+"!"]
            
          if nextClass !== false
            p.larger #[b(title=moment(nextClass.startTime).format("HH:MM A"), style="text-transform: capitalize;")= moment(nextClass.startTime).fromNow(true)] until #[b= nextClass.className] in #[b= "Room "+nextClass.room].
          else
            if nowClass !== "between"
              p.larger This is the last class of your day!
          hr
    .row
      .col-xs-12
        h3.no-margin Looking to talk with classmates?
        p.
          Install #[b #[a.undercorated(target="_blank", href="http://wiki.mumble.info/wiki/Main_Page#Download_Mumble") Mumble]],
          it'll only take seconds, and then
          #[b #[a.undecorated(href="mumble://"+currentUser.username+":regis@regismumble.ddns.net/Work?version=1.2.0") Click Here]]
        br
    
    .row
      .col-xs-12
        include tabs
    .row
      .col-xs-12
        br
        p.
          Now remember, OnTrac is in Alpha. This means it is nowhere near done.
          That explains this empty homepage.
      .col-xs-12.center
        img(style="height: 100%; max-height: 500px;", src="/images/graph.png")
        
    hr
