/* Sections
 * 01 - Layout
 * 02 -
 * 03 - Service specific
 */




/*** 01 - Layout ***/

@media (min-width: 790px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
}

.user-card {
  width: 150px;
}

.user-card .card-title {
  font-size: 160%;
  position: absolute;

  bottom: 5px;
}

.user-card .card-content {
  padding: 10px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

/*** 02 - ***/


/*** 03 - Service specific ***/

/* Intro-page */
#recent-changes td:nth-child(even) {
  text-align: right;
}


.larger {
  font-size: 120%;
}

.no-margin {
  margin-bottom: 0;
  margin-top: 0;
}

#nav-bar-photo{
    height: 100%;
}

/* User List Page */

.user-buttons a.btn{
  width: 110px;
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}

.hidden {
  display: none;
}

.btn, .btn:hover {
  background-color: #e53935;
}

.fixed-action-btn {
  bottom: 45px;
  right: 45px;
}

@media (max-width: 790px) {
  .fixed-action-btn {
    bottom: 10px;
    right: 10px;
  }
}

.user-verified {
  padding-right: 5px;
}

.full-width {
  width: 100%;
}
