extends /layout

block content
  .container-fluid#advchat(data-adv=currentUser.advisement)
    .col-xs-12
      b.larger Online #{currentUser.advisement} Members:
      span#advchat-online Nobody!
    .col-xs-12#advchat-messages
      
    .col-xs-12
      form.form-inline(role="form")
        .form-group.full-width
          input.form-control#advchat-message(type="text", maxlength="100", required=true, placholder="Message")
          button.btn.btn-primary#advchat-send(type="button") Send
