extends /layout

block content
  .container-fluid
    .row
      .col-xs-12
        .jumbotron
          i.fa.fa-file.right.hidden-xs(title="Logo by the amazing John Chiaramonte.", style="font-size: 9em;")
          h1 Your Contributions
          br
          p.
            #[b OnTrac] depends on the ideas and suggestions of the student's that use it. That includes you, #[b= currentUser.nickname].
    hr
    .row
      .col-xs-12.col-sm-6.col-md-4.contributor-score
        .panel.panel-default
          .panel-body
            .col-xs-12.col-sm-3
              span(style="font-size: 5em") 0
            .col-xs-12.col-sm-9
              p(style="font-size: 1.4em") Your Current Contributor Score
              span.text-muted Nice!
      .col-xs-12.col-sm-6.col-md-4
        .panel.panel-info
          .panel-body
            .col-xs-12.col-sm-3
              span(style="font-size: 4.7em") 0
            .col-xs-12.col-sm-9
              p(style="font-size: 1.3em") Accepted Submitted Contributions
              span.text-muted Nice!
      .col-xs-12.col-sm-6.col-md-4
        .panel.panel-danger
          .panel-body
            .col-xs-12.col-sm-3
              span(style="font-size: 4.4em") 0
            .col-xs-12.col-sm-9
              p(style="font-size: 1.2em") Pending Submitted Feedback
              span.text-muted Nice!
