#advertisements
  a(href="mumble://"+currentUser.username+":regis@regismumble.ddns.net/School?version=1.2.0")
    img(src="/images/mumblead2.png")
  a(target="_blank", href="http://steamcommunity.com/groups/ludusregum")
    img(src="/images/steamgroup.png")
  img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=YOUR+AD+HERE&w=350&h=150")
  img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=YOUR+AD+HERE&w=350&h=150")
  img(src="https://placeholdit.imgix.net/~text?txtsize=33&txt=YOUR+AD+HERE&w=350&h=150")
