extends /layout

block content
  .container-fluid
    include /info
    .jumbotron
      h1.no-margin(style="text-transform: capitalize") Hello, #{currentUser.firstName}
      p.no-margin.magictime.swashIn.
        It is #[b#clock Time & Date]. Today is a #[b#today-sd ?] Schedule Day.
      span Only #[b= moment("2015-09-14").fromNow(true)] until school starts.
    
    .row
      .col-xs-12
        b.larger Looking to talk with classmates?
        p.
          Install #[b #[a(target="_blank", href="http://wiki.mumble.info/wiki/Main_Page#Download_Mumble") Mumble]],
          a light-weight, free voice-chat application for communicating with classmates.
          Perfect for #[b getting homework help, collaborating on projects, gaming with friends, or just talking]. I'm also usually
          on every night, so if you have a question about the site you can hop on
          and ask me directly.
        p.
          Once installed, 
          join the #[b Unofficial Regis Mumble Server] #[i (run by me)]
          #[b #[a.undecorated(href="mumble://"+currentUser.username+":regis@regismumble.ddns.net/Work?version=1.2.0") here]].
        br
    
    .row
      .col-xs-12
        include tabs
    .row
      .col-xs-12
        br
        p.
          Now remember, OnTrac is in Alpha. This means it is nowhere near done.
          That explains this empty homepage.
      .col-xs-12.center
        img(style="height: 100%; max-height: 500px;", src="/images/graph.png")
        
    hr
