extends /layout

block content
  .container-fluid
    include /info
    .jumbotron.center-xs(style="margin-bottom: 0;")
      .col-xs-12.col-lg-6
        h1.no-margin(style="text-transform: capitalize")= "Good "+helpers.getGreetingTime(moment())+", " + currentUser.nickname
      .col-xs-12.col-lg-6.hidden-xs
        blockquote.quote
          p
            script(src="http://www.brainyquote.com/link/quotebr.js")
      .col-xs-12
        if todaysInfo
          span.visible-xs Today is a #[b= todaysInfo.scheduleDay+"-Day"].
      .clearfix
    //
      .row.center.visible-sm.visible-md.visible-lg
        .col-xs-12
          div.full-width(style="background-color: #222")
            each c in currentUser.courses
              a.btn.btn-default(href="http://moodle.regis.org/course/view.php?id="+c.mID, target="_blank")= c.title.split("(")[0]
    if todaysInfo
      #classInfo
        p.larger Loading class info...
    hr
    .row
      include work-boxes
      .col-xs-12.col-md-3.text-center
        .visible-sm.visible-md
          hr
          br
        include ads
    hr
    .row
      .col-xs-12
        include tabs
    .row
      .col-xs-12
        #work-calendar
    hr
