extends /layout

block content
  .container-fluid
    include /info
    .jumbotron.center-xs(style="margin-bottom: 0;")
      h1.no-margin(style="text-transform: capitalize")= "Good "+helpers.getGreetingTime(moment())+", " + currentUser.nickname
      p.visible-xs.no-margin It is #[b#clock Time & Date].
        if todaysInfo
          span.visible-xs Today is a #[b= todaysInfo.scheduleDay+"-Day"].
      if todaysInfo
        #classInfo
          p.larger Loading class info...          
    //
      .row.center.visible-sm.visible-md.visible-lg
        .col-xs-12
          div.full-width(style="background-color: #222")
            each c in currentUser.courses
              a.btn.btn-default(href="http://moodle.regis.org/course/view.php?id="+c.mID, target="_blank")= c.title.split("(")[0]
    hr
    .row
      include work-boxes
      .col-xs-12.col-md-3.text-center
        .visible-sm.visible-md
          hr
          br
        include ads
    hr
    .row
      .col-xs-12
        include tabs
    .row
      .col-xs-12
        br
        p.
          Now remember, OnTrac is in Alpha. This means it is nowhere near done.
          That explains this empty homepage.
    hr
