extends /layout

block content
  .container-fluid
    include /info
    .jumbotron.center-xs(style="margin-bottom: 0;")
      .col-xs-12.col-lg-6
        h1.no-margin(style="text-transform: capitalize")= "Good "+helpers.getGreetingTime(moment())+", " + currentUser.nickname
      .col-xs-12.col-lg-6.hidden-xs
        blockquote.quote
          p
            script(src="http://www.brainyquote.com/link/quotebr.js")
      .col-xs-12
        if todaysInfo
          span.visible-xs Today is a #[b= todaysInfo.scheduleDay+"-Day"].
      .col-xs-12
        br
        b #[i.fa.fa-github] LATEST UPDATE:&nbsp;
        span#github Fetching...
      .clearfix
    
    .row.center
      .col-xs-12
        div.full-width(style="background-color: #222")
          a.btn.btn-default.fa.fa-sitemap(href="http://intranet.regis.org/", target="_blank")
          a.btn.btn-default(href="http://moodle.regis.org/my/", target="_blank")
            img(src='/images/moodle.png')
          a.btn.btn-default.fa.fa-envelope(href="https://owa.regis.org/owa/", target="_blank")
          a.btn.btn-default.fa.fa-folder(href="https://myfiles.regis.org/", target="_blank")
          a.btn.btn-default.fa.fa-github(target="_blank", title="View the public source code behind this project, maintained solely by me.", href="https://github.com/Aedificem/ontrac")
          a.btn.btn-default.fa.fa-bug(target="_blank", title="View the recorded issues that I'm working on for the site.", href="https://waffle.io/Aedificem/ontrac/join")
          a.btn.btn-default.fa.fa-tasks(target="_blank", title="View the features that are being worked on and that are coming soon.", href="https://trello.com/b/b9JwXnPH/ontrac")
    if todaysInfo && nowIs("between", "8:50 AM", "2:50 PM")
      #classInfo
        p.larger Loading class info...
    hr
    .row
      .col-xs-12.col-sm-6.col-md-4
        .panel.panel-warning#thoughtbox
          .panel-heading Daily Thoughts
            a.undecorated.fa.fa-list.right(href="/thoughts")
          form.form-inline(role="form", action="/thoughts/add", method="POST")
            textarea.form-control(rows="2", name="newThoughtsBody")= dailythought
            button.btn.btn-warning Update
      include work-boxes
      .col-xs-12.col-md-3.text-center
        .visible-sm.visible-md
          hr
          br
        include ads
    hr
    .row
      .col-xs-12
        include tabs
    .row
      .col-xs-12
        #work-calendar
    hr
