extends /layout

block content
  .container
    include /info
    .jumbotron
      img.right.hidden-xs(style="width: 100%; max-width: 300px;", src="http://www.xavierhs.org/s/81/images/editor/tom/regis.jpg")
      h1 Welcome to OnTrac
      
      p.
        It has begun. The work, the stress, the responsibilities of Regis High School. If only there
        was a way to make it all easier. There isn't. #[b Yet...]
        

    .row
      .col-xs-12.col-sm-2.center-xs
        img.visible-xs(style="width: 100%; max-width: 300px;", src="http://www.xavierhs.org/s/81/images/editor/tom/regis.jpg")
        br
        b O
        span  - Open-source 
        br
        
        b N
        span  - Networked
        br

        b T
        span  - Third-party
        br
        
        b R
        span  - Regis High School
        br

        b A
        span  - Academic
        br

        b C
        span  - Connector
        
      
      .col-xs-12.col-sm-5
        .panel.panel-primary
          .panel-heading
            h1.panel-title What is OnTrac?
          .panel-body
            p.
              #[b OnTrac] is a free, online Web service created specifically to allow Regis
              students to get a better grasp on their academic life while at the same 
              time providing an easy, customized platform for organization and collaboration
              with their classmates and schoolmates.
      .col-xs-12.col-sm-5
        .panel.panel-info
          .panel-heading
            h1.panel-title What does it do?
          .panel-body
            p.
              Make Regis a little easier to handle by keeping track of homework,
              projects, tests, quizzes, grades, notes, tasks, reminders, friends,
              schedules, meetings, clubs, groups, and more all in one place at
              the same time.
    
    .row
      .col-xs-12.center
          h3 Sign in to OnTrac #[b(style="cursor: pointer;",data-toggle="modal", data-target="#login-modal") here] with your Regis credentials and get started. It's that easy!
        
    .row
      .col-xs-12
        a(class="twitter-timeline", data-widget-id="268815703732260864", href="https://twitter.com/regisalerts", data-tweet-limit="10") Tweets by @regisalerts
    .row
      .col-xs-12
        hr
        .progress
          .progress-bar.progress-bar-striped.active(role="progressbar", aria-valuenow="40", aria-valuemin="0", aria-valuemax="100", style="width: 40%")
            span.sr-only 40% ready
    .row
      .col-xs-12.text-center
        a.btn.btn-primary(target="_blank", href="https://github.com/Apexal/ontrac") Source Code
