extends /layout

block content
  .container
    include /info
    .page-header
      h1 Advisements
        if loggedIn == false
          small.right Login for more info.
    
    if advisements == false
      h3 No advisements found!
    else
      for ad in advisements
        .col-xs-12.col-sm-6.col-md-4
          .panel(class=(loggedIn == true && currentUser.advisement == ad.title ? "panel-primary" : "panel-default"))
            .panel-heading
              b #[a.undecorated(href="/advisements/"+ad.title)= ad.title]
              if ad.teacher
                span.teacher-badge.right(data-username=ad.teacher.username)= "Advisor "+ad.teacher.fullName
              else
                span.right Uknown Advisor
            .panel-body
              if loggedIn
                
                -var found = false
                for s in ad.students
                  if s.registered
                    if s.username == currentUser.username
                      b.user-badge(data-username=s.username) You
                    else
                      span.user-badge(data-username=s.username)= s.fullName
                    
                    -found = true
                if found == false
                  span No students in #[b= ad.title] have registered yet!
              else
                span Log in to see what users in #[b= ad.title] have registered.
