/* User List Page */

@media (max-width: 768px) {
  #bottom-bar {
    max-height: none;
  }

  .center-xs {
    text-align: center;
  }
}

.user-box {
  margin: 0 auto;
}

.user-box, .user-box img {
  width: 160px;
}



.user-adv {
  position: absolute;
  bottom: 45px;
  font-size: 1.7em;
  font-weight: bold;
  color: #222;
  left: 105px;
}

.profile-user-adv {
  position: absolute;
  bottom: 95px;
  font-size: 1.8em;
  font-weight: bold;
  color: #222;
  left: 135px;
}

.user-verified {
  padding-right: 5px;
}



/* User Profile Page */

#profile-pic, .holder {
  margin: 0 auto;
  max-width: 200px;
}
