extends /layout

block content
  .container-fluid
    include /info
    .jumbotron.no-margin
      h1.no-margin= title
      br
      #stats.larger
        b There's gonna be some nice helpful stuff here one day I swear.
      
    .row
      .col-xs-12.col-sm-6.col-md-3
        .page-header
          h2 Last Grade
        
        .col-xs-12
          p.text-center Nothing!
      .col-xs-12
        hr
