.modal.fade#feedback-modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4.modal-title Feedback
      .modal-body
        .container-fluid
          .row
            .col-xs-12
              form#feedback-form
                .form-group
                  label.control-label(for='feedback-type') Type:
                  select.form-control#feedback-type
                    option Problem
                    option Idea
                .form-group
                  label.control-label(for='feedback-text') Message:
                  textarea#feedback-text.form-control(required=true)
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
        button.btn.btn-primary#send-feedback(type='button') Send
