footer
  .navbar.navbar-default.navbar-fixed-bottom#real-bottom-nav(style="z-index: 50;").visible-xs
    #mobile-bottom-bar
      span
        a.fa.fa-calendar(href="/days")
      span
        a(href="/days/today") T
      span
        a(href="/days/closest") C
      
      if previous
        span
          a.fa.fa-arrow-left(href='/days/'+previous)
      else
        span.disabled
          a.fa.fa-arrow-left(href='#')
      if next
        span
          a.fa.fa-arrow-right(href='/days/'+next)
      else
        span.disabled
          a.fa.fa-arrow-right(href='#')
      
      a(href="/users/"+currentUser.username)
        img.right.navbar-pic(src="https://webeim.regis.org/photos/regis/Student/"+currentUser.code+".jpg", data-username=currentUser.username)
