header
  nav.navbar.navbar-default.navbar-fixed-top#real-nav
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") OnTrac
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          li(class=(title=="OnTrac" || title=="Your Home" ? "active" : ""))
            a(href=(title=="OnTrac" || title=="Your Home" ? "#" : "/"), title="The homepage.") Home
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') View 
                span.caret
            ul.dropdown-menu(role='menu')
              li(class=(helpers.isPage(page, "users")))
                a(href="/users", title="View and search through list of all students, registered and unregistered.") Users
              li(class=(helpers.isPage(page, "advisements")))
                a(href="/advisements", title="View and search through all advisements at Regis.") Advisements
                
              if loggedIn
                li(class=(helpers.isPage(page, "teachers")))
                  a(href="/teachers", title="View, search, and rate a list of all teachers at Regis.") Teachers
                li(class=(helpers.isPage(page, "courses")))
                  a(href="/courses", title="View, search, and rate a list of all classes, clubs, or otherwise at Regis.") Courses

                
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Regis Services 
                span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href="http://www.regis.org/", target="_blank") Home Page
              li
                a(href="http://intranet.regis.org/", target="_blank") Intranet
              li
                a(href="http://moodle.regis.org/my/", target="_blank") Moodle
              li
                  a(href="https://owa.regis.org/owa/", target="_blank") Email
          
          if loggedIn
            li
              a(href="#", data-toggle="modal", data-target="#feedback-modal") Offer Feedback
          
        ul.nav.navbar-nav.navbar-right
          if loggedIn
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')= currentUser.firstName + " "+currentUser.lastName
                  span.caret
              ul.dropdown-menu(role='menu')
                if loggedIn
                  li
                    a(href="/users/"+currentUser.username, title="View your public profile as other users see it.") View Profile
                  li
                    a(href="/users/profile") Edit Profile
                  li
                      a(href='/logout') Logout
          else
            li
              a(href="#", data-toggle="modal", data-target="#login-modal") Not Logged In
