header
  nav.navbar.navbar-default.navbar-fixed-top#real-nav
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a#brand.navbar-brand(href=(isHomepage ? "#" : "/home"))
          img#ontrac-img(title="Homepage.", src="/images/logo64x64.png")
      #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
          //
            li
              a(target="_blank", href="https://github.com/Apexal/ontrac/wiki", title="What features does OnTrac provide?") About
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') View
              span.caret
            ul.dropdown-menu(role='menu')
              if loggedIn
                li(class=(helpers.isPage(page, "users")))
                  a(href="/users", title="View and search through list of all students, registered and unregistered.") Users
                li(class=(helpers.isPage(page, "advisements")))
                  a(href="/advisements", title="View and search through all advisements at Regis.") Advisements
              li
                a(target="_blank", title="View the public source code behind this project, maintained solely by me.", href="https://github.com/Apexal/ontrac") Source Code
              li
                a(target="_blank", title="View the recorded issues that I'm working on for the site.", href="https://waffle.io/Apexal/ontrac/join") Issue Progress
          if loggedIn
            if isHomepage == false
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Your Courses
                  span.caret
                ul.dropdown-menu(role='menu')
                  each c in currentUser.courses
                    li
                      a(href="http://moodle.regis.org/course/view.php?id="+c.mID, target="_blank")= c.title
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Regis
                span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href="http://www.regis.org/", target="_blank") Home Page
              li
                a(href="http://intranet.regis.org/", target="_blank") Intranet
              li
                a(href="http://moodle.regis.org/my/", target="_blank") Moodle
              li
                a(href="https://owa.regis.org/owa/", target="_blank") Email
              li
                a(href="https://myfiles.regis.org/", target="_blank") MyFiles
          
          if loggedIn
            li.dropdown
              a.service.dropdown-toggle(href="#", title="Manage your work.", data-toggle='dropdown', role='button', aria-expanded='false').fa.fa-book
              ul.dropdown-menu(role='menu')
                li.dropdown-header Your Work
                li
                  a(href="/work") Overview
                li(role="separator").divider
                if currentUser.scheduleObject.scheduleDays[moment().format("MM/DD/YY")]
                  li
                    a(href="/work/today") Today's Work Due
                li
                  a(href="/work/closest") Current Work Due
            
            if previousDay !== false
              li
                a.fa.fa-arrow-left(href='/work/'+previousDay, style="padding-left: 4px; padding-right: 4px;", title="View the previous work day!")
            if nextDay !== false
              li
                a.fa.fa-arrow-right(href='/work/'+nextDay, style="padding-left: 4px; padding-right: 4px;margin-right: 10px;", title="View the next work day!")  
            
            li.dropdown
              a.service.dropdown-toggle(href="#", title="Manage your studying.", data-toggle='dropdown', role='button', aria-expanded='false').fa.fa-calendar-check-o
              ul.dropdown-menu(role='menu')
                li.dropdown-header Study Management
                li
                  a(href="/study") Overview
                li(role="separator").divider
                li
                  a(href="/study/today") Today's Items
                  
            li.dropdown
              a.service.dropdown-toggle(href="#", title="Manage your grades.", data-toggle='dropdown', role='button', aria-expanded='false').fa.fa-line-chart
              ul.dropdown-menu(role='menu')
                li.dropdown-header Your Grades
                li
                  a(href="/grades") Overview
        ul.nav.navbar-nav.navbar-right
          if loggedIn
            li
              a(href="/users/"+currentUser.username+"/schedule", title="View your class schedule.", style="padding-right: 5px;padding-left: 2px;").fa.fa-calendar
            li
              a(href="#", data-toggle="modal", data-target="#feedback-modal", title="Offer feedback.", style="padding-right: 5px;padding-left: 2px;").fa.fa-comment
            li
              a(href="#", title="Manage your reminders.", data-target="#reminders-modal", data-toggle="modal", style="padding-right: 2px;padding-left: 2px;").reminder-bell.fa.fa-bell-o
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') #{currentUser.firstName} #{currentUser.lastName}
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href="/users/"+currentUser.username, title="View your public profile as other users see it.") View Profile
                if (currentUser.rank > 4 || currentUser.username == "fmatranga18")
                  if helpers.isPage(page, "admin") == false
                    li
                      a(href="/admin") Admin Page
                li
                  a(href='/logout') Logout
          else
            li
              a(href="#", data-toggle="modal", data-target="#login-modal") Not Logged In
