ul.pagination.pagination-sm
  li
    a(href="?page="+prev, aria-label="Previous")
      span(aria-hidden="true") &laquo;
  
  li
    a(href="?page=1") 1 ...
  
  if (pageNum - 1) > 0
    li
      a(href="?page="+(pageNum - 1))=(pageNum - 1)
  li.active
    a(href="#")= pageNum
  if (pageNum + 2) <= pages
    li
      a(href="?page="+(pageNum + 1))=(pageNum + 1)
  if (pageNum + 2) != pages
    li
      a(href="?page="+pages) ... #{pages}
  li
    a(href="?page="+next, aria-label="Previous")
      span(aria-hidden="true") &raquo;
