.modal.fade#reminders-modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h3.modal-title Reminders
      table.table.table-hover#reminder-table
        tr
          td.center No reminders!
      form.form-inline#reminder-form(role="form")
        .form-group.full-width
          input.form-control#reminder-desc(type="text", placeholder="Description", max="100")
          button.btn.btn-primary#add-reminder Add
