.modal.fade#reminders-modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h3.modal-title Reminders
      .modal-body
        p One fine body…
