aside#sidebar
  br
  section.center  
    img#sidebar-pic.user-badge(title="Looking good!", src="https://webeim.regis.org/photos/regis/Student/"+currentUser.code+".jpg", data-username=currentUser.username)
    br
    #user-status.dropdown
      b.dropdown-toggle(data-toggle="dropdown") Online
        span.caret
      ul.dropdown-menu
        li
          a(href="#") Online
        li
          a(href="#") Working
        li
          a(href="#") Relaxing
        li
          a(href="#") Busy
        li
          a(href="#", title="You will not appear on the online users list.") Offline      
    hr
  
  if (currentUser.rank > 4 || currentUser.username == "fmatranga18")
    if helpers.isPage(page, "admin") == false
      .text-center
        a.btn.btn-primary(href="/admin") Administration
      hr
    
  section
    ul.nav
      li
        a(title="Manage your reminders.", href="#", data-target="#reminders-modal", data-toggle="modal") Reminders
          span.label.label-primary.right#reminders-count &nbsp;
      li(class=(helpers.isPage(page, "grades") ? "active" : ""))
        a(title="Manage your grades.", href="/grades") Grades
          span.label.label-success.right.fa.fa-check 
      li(class=(helpers.isPage(page, "work") ? "active" : ""))
        a(href="/work", title="View all days that you have work (homework, tests, etc).") Work
          span.label.label-danger.right &nbsp;&nbsp;!&nbsp;&nbsp;
      li
        a(href="/advisements/chat", title="Private chat room for your advisement!") #{currentUser.advisement} Chat
          span.badge#advchat-badge 0
      li
        a(href="#") Meetings
          //span.badge.right 0
    hr
    
  
  if helpers.isPage(page, "days")
    section#day-controls(class=(helpers.isShort(previous, next)))
      span
        a(href="/days/today", title="View the work due today!") T
      span
        a(href="/days/closest", title="Find the closest day from today that you have work!") C
      
      if previous
        span
          a.fa.fa-arrow-left(href='/days/'+previous, title="View the previous day!")
      if next
        span
          a.fa.fa-arrow-right(href='/days/'+next, title="View the next day!")     
    hr
