aside#sidebar
  br
  section.center  
    img#sidebar-pic.user-badge(title="Looking good!", src="https://webeim.regis.org/photos/regis/Student/"+currentUser.code+".jpg", data-username=currentUser.username)
    br
    #user-status.dropdown
      b.dropdown-toggle(data-toggle="dropdown") Online
        span.caret
      ul.dropdown-menu
        li
          a(href="#") Online
        li
          a(href="#") Working
        li
          a(href="#") Relaxing
        li
          a(href="#") Busy
        li
          a(href="#", title="You will not appear on the online users list.") Offline      
    hr
  
  if (currentUser.rank > 4 || currentUser.username == "fmatranga18")
    section#admin-section.center
      .dropdown
        button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true") Administration &nbsp;
          span.caret
        ul.dropdown-menu
          li(class=( helpers.isPage(page, "admin/logs")? "active" : ""))
            a(href="/admin/logs") User Logs
          li
            a(href="/feedback") User Feedback
    hr
    
  section
    ul.nav
      li
        a(title="Manage your reminders.", href="#", data-target="#reminders-modal", data-toggle="modal") Reminders
          span.badge.right#reminders-count 0 
      li
        a(title="Manage your grades.", href="#") Grades
          //span.badge.right 0
      li(class=(helpers.isPage(page, "days") ? "active" : ""))
        a(href="/days", title="View all days that you have work (homework, tests, etc).") Work
          //span.badge.right 0
      li
        a(title="View and manage your friend list.", href="#") Friends
          //span.badge.right 0
      li
        a(href="#") Meetings
          //span.badge.right 0
    hr
    
  
  if helpers.isPage(page, "days")
    section#day-controls(class=(helpers.isShort(previous, next)))
      span
        a(href="/days/today", title="View the work due today!") T
      span
        a(href="/days/closest", title="Find the closest day from today that you have work!") C
      
      if previous
        span
          a.fa.fa-arrow-left(href='/days/'+previous, title="View the previous day!")
      if next
        span
          a.fa.fa-arrow-right(href='/days/'+next, title="View the next day!")     
    hr
