aside#sidebar
  section.center
    br
    #user-status.dropdown
      b.dropdown-toggle(data-toggle="dropdown") Loading...
        span.caret
      ul.dropdown-menu
        li
          a(href="#") Available
        li
          a(href="#") Working
        li
          a(href="#") Busy
        li
          a(href="#", title="You will not appear on the online users list.") Offline
    if todaysInfo 
      #scheduleDaySidebar(data-toggle="tooltip", title="Today is a "+todaysInfo.scheduleDay+" Schedule Day.")
        hr(style="margin-bottom: 10px;")
        b.larger #{todaysInfo.scheduleDay} - Day
        hr(style="margin-top: 10px;")
    else
      hr
  section
    ul.nav
      li
        a(data-toggle="tooltip", href="/advisements/chat", title="Private chat room for your advisement!") #{currentUser.advisement} Chat
          span.label.label-default.right#advchat-badge 0
    hr
  
  section
    b UNDER CONSTRUCTION
    p.
      This is being reworked very soon. Most stuff here has been moved  to the header.
      
  
  if todaysInfo
    if isHomepage == false
      section#sidebar-class-info
        #sd-nowc
          b.larger Current Class
          
          br
          span#sidebar-now-class
          i.right#nowclass-room
          br
        #sd-nextc
          br
          b Next Class
          br
          span#sidebar-next-class
          i.right#nextclass-room
        hr
