extends /layout

block content
  .container-fluid
    .row
      .col-xs-12
        .page-header
          h1 Coming Soon...
        
        p Oh man this thing is gonna be really cool.
        
        img(src="http://h3accme.com/wp-content/uploads/2014/04/page-under-construction1.jpg")
