#homework-content.col-xs-12
  .progress(style="margin-bottom: 0;")
    .progress-bar#homework-progress(role="progressbar", title="You are 0% done with your homework!", style="width: 0%;")
  if currentUser.courses.length > 0
    .row
      .col-xs-12
        form.form-inline.center#homework-form(method="POST")
          .form-group.col-xs-12.col-sm-4.col-md-3
            .input-group(style="width: 100%;")
              .input-group-addon.fa.fa-link#set-hw-link(data-link="")
              input.hidden#newHWItemLink(name="newHWItemLink", value="")
              select.form-control#newHWItemCourseID(name="newHWItemCourseID", required=true)
                for course in currentUser.courses
                  option(value=course._id)= course.title  
          .form-group.col-xs-12.col-sm-6.com-md-7
            input.form-control(style="width: 100%;", id="newHWItemDesc", name="newHWItemDesc", maxlength="140", type="text", placeholder="Description", required=true)
          .form-group.col-xs-12.col-sm-2
            button.btn.btn-default.full-when-xs#homework-button(style="width: 100%;") Add
    .row.worklist
    //
      if hwTitles == false
        h4.text-center No homework!
        br
      else
        for title in hwTitles
            ol
              for item in homework[title]
                li(data-id=item._id)
                  span(class="assignment"+(item.completed == true ? " completed" : ""))= item.desc+" "
                  i.fa.fa-close.remove-assignment
                  span  &nbsp;  &nbsp;  &nbsp;
            br
  br
  
