extends /layout

block content
  .container-fluid
    include /info
    .jumbotron.no-margin
      h1.no-margin= title
      br
      #stats.larger
        b This year's stats:
        span(data-toggle="tooltip", title="Hooray!")  0 homework assignments, 
        span(data-toggle="tooltip", title="Hooray!") 0 tests, 
        span(data-toggle="tooltip", title="Hooray!") 0 quizzes, 
        span(data-toggle="tooltip", title="Hooray!") 0 projects

    .row
      .col-xs-12
        div(style="background-color: #222;")
          if currentUser.scheduleObject.scheduleDays[moment().format("MM/DD/YY")]
            a.btn.btn-default(href="/work/today", title="View the work due today!") Today's Work
          a.btn.btn-default(href="/work/closest", title="Find the closest day from today that you have work!") Next Day's Work
          
      .col-xs-12.col-sm-6.col-md-3#due-today
        .page-header
          h2 Due Today
            small.right 0 items
        
        .col-xs-12
          p.text-center &nbsp;
          table.table.table-condensed
            tr
              td 
      
      .col-xs-12.col-sm-6.col-md-3#upcoming(data-closest=closestDay)
        .page-header
          h2 Upcoming
            small.right 0 items
        
        .col-xs-12
          p.text-center &nbsp;
          table.table.table-condensed
            tr
              td 
      .col-xs-12.col-md-4.center
        #hw-calendar
        hr
