extends /layout

block content
  .container-fluid
    include /info
    .row
      .col-xs-12
        .page-header
          h1.center-xs
            b= item.course.title +" Test"
            if item.desc
              | : #{i.desc}
            small.hidden-xs.right(title=moment(item.dateTaken).fromNow())= moment(item.dateTaken).format("dddd, MMMM Do YYYY")
      .col-xs-12.text-center.visible-xs
        span(title=moment(item.dateTaken).fromNow())= moment(item.dateTaken).format("ddd, MMM Do YY")
      .col-xs-12
        p Coming soon...
      
    .row
      .col-xs-12
        form(action="/study/"+item._id+"/remove", method="POST", onsubmit="if(!confirm('Are you sure?')) return false;")
          a.btn.btn-default(href="/study") Back to Index
          button.btn.btn-danger(href="#") Remove
        
