extends /layout

block content
  .container
    include /info
    .page-header
      h1 Edit Your Profile
    
    .row
      .col-xs-12
        form.form(role="form", method="POST")
          .form-group
            label(for="newbio") Bio
            textarea.form-control#newbio(name="newbio")
          button.btn.btn-primary Save
