extends /layout

block content
  .container
    include /info

    .page-header
      h1(title="The cool guys.") Registered Users #[small [Alpha Testers]]
        small.right #{registered.length} total
        
    .row
      .col-xs-12
        if registered == false
          h3.center No users have registered yet!
        else 
          form.form-inline#search.hidden
            .form-group
              label(for="name") Name
              input.form-control(type="text", maxlength="50", name="name")
            button.btn.btn-primary Search
    
    .row
      for user in registered
        .col-xs-12.col-sm-6.col-md-4.col-lg-3.text-center.magictime.vanishIn
          .user-box
            img(src=user.ipicture+"?_="+moment().format("X"), onError="this.onerror=null;this.src='"+user.mpicture+"';")
            .btn-group.full-width
              a.user-adv(href="/advisements/"+user.advisement)= user.advisement
              button.btn.btn-default.full-width.user-badge(data-username=user.username, data-name=user.fullName, type="button")= user.fullName
    
    br
    .row
      .col-xs-12
        .page-header
          h1 Leaderboards
        button.btn.btn-default#lb-points Points
        button.btn.btn-default#lb-logins Login Count
        button.btn.btn-default#lb-rank Rank
        #leaderboard
          p.text-center.text-muted Loading leaderboard...
