extends /layout

block content
  .container
    .page-header
      h1 Users

    .row
      .col-xs-12
        form.form-inline#search.hidden
          .form-group
            label(for="name") Name
            input.form-control(type="text", name="name")
          button.btn.btn-primary Search

    .row
      for user in users
        .col-xs-12.col-md-4.col-lg-3.text-center
          .user-box
            img(alt=user.bio, src="https://webeim.regis.org/photos/regis/Student/"+user.code+".jpg")
            .btn-group.full-width
              b.user-adv(href="/users/"+user.username)= user.advisement
              button.full-width.btn.btn-default.dropdown-toggle(data-toggle="dropdown", ara-expanded="false", type="button")= user.fullName+" "
                span.caret
              ul.dropdown-menu(role="menu")
                li
                  if loggedIn
                    a(href="/users/"+user.username) View Profile
                    a(href="/users/"+user.username+"/schedule") View Schedule
                  a(href="#") View Advisement
                  a(href="mailto:"+user.email) Email
