extends /layout

block content
  .container
    .page-header
      h1 Login

    .row
      .col-xs-12
        form(method="POST", action="/users/login")
          .form-group
            label(for="username") Username
            input.form-control#username(required=true, name="username", placeholder="Username", type="text")
          .form-group
            label(for="password") Password
            input.form-control#password(required=true, name="password", placeholder="Password", type="password")
          a.left.btn.btn-default(href="/register") Not Yet Registered?
          button.btn.right.btn-primary Login
