extends /layout

block content
  .modal.fade#login-modal
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Is this safe?
        .modal-body
          p.
            I do not store any passwords at all. I just pass what you enter here to the Regis login page to 
            determine whether correct credentials are entered or not. This is just to remove the need for
            registration and make logging in simpler.
            #[br]
            Don't believe me? See #[a(target="_blank", href="https://github.com/Apexal/adiutor/blob/master/routes/index.js") for yourself].
          
  .container
    .page-header
      h1 Login
    include /info
    .row
      .col-xs-12
        form(method="POST", action="/login?redir="+redir)
          .form-group.col-xs-12.col-sm-6
            label(for="username") Regis Username
            input.form-control#username(required=true, name="username", placeholder="Username", type="text")
          .form-group.col-xs-12.col-sm-6
            label(for="password") Regis Password #[a(href="#", data-toggle="modal", data-target="#login-modal") ?]
            input.form-control#password(required=true, name="password", placeholder="Password", type="password")
          //a.left.btn.btn-default(href="/register") Not Yet Registered?
          button.btn.right.btn-primary Login
          //a.btn.right.btn-danger(href="/forgot") Forgot

        
