form.form-inline(method="POST", action="/admin/"+user._id)
  select.form-control(name="action")
    if user.locked
      option(value="unlock", selected="true") Unlock Account
    else
      option(value="lock", selected="true") Lock Account
    if user.registered
      option(value="deactivate") Deactivate Account
      option(value="reset") Reset Account
  button.btn.btn-danger#reset-account Save
