extends /layout

block content
  .container(ng-controller="UserController as UC")
    include /info
    div(ng-show="UC.user==null")
      .page-header
        h1 That UC.user Does Not Exist!
      
      span You have either entered an invalid UC.username or the UC.user has not registered yet.
    div(ng-hide="UC.user==null")
      .page-header
        h1.center-xs {{UC.user.gradeName}} #[br.visible-xs] {{UC.user.firstName}} {{UC.user.lastName}} of 
          | #[a.undecorated(style="font-weight: bold", href="/advisements/{{UC.user.advisement}}") {{UC.user.advisement}}]
          small.right.hidden-xs.hidden-sm {{UC.user.points}} points
      .user-profile
        .col-xs-12.col-sm-6.col-lg-8
          .row
            .col-xs-12.col-sm-12.col-md-6.center-xs
              .holder
                img#profile-pic(title="Looking good!", alt="{{UC.user.firstName}} missed picture day!", src="{{UC.user.ipicture}}")
              br
            .col-xs-12.col-md-6(ng-hide="!UC.user.bio")
              blockquote
                p {{UC.user.bio}}
                footer {{UC.user.fullName}} 2015
            .col-xs-12.col-sm-12.col-md-6
              .panel.panel-default
                .panel-heading
                  h1.panel-title  Info
                .panel-body
                  .user-info
                    b Rank:
                    |  {{UC.user.rankName}}
                    br
                    b Grade:
                    |  {{UC.user.gradeName}}
                    br
                    b Advisement:
                    |  {{UC.user.advisement}}

          
      
    .row
      hr
      .col-xs-3
        a.right.btn.btn-primary(href="/users") Back to user List
