extends /layout

block content
  .container-fluid
    !{user.schedule}
  //iframe#schedule(src="http://intranet.regis.org/infocenter/schedule/Print.cfm?StudentCode="+user.code+"&showweek=0&Print=1&NoShading=0")
