extends /layout

block content
  .container
    .page-header
      h1 Teachers
        small.right= teachers.length
      
    .teacher-list
      include /info
      //form#search-teachers
        
      table.table.table-hover
        tr
          th Profile Picture
          th Full Name
          th Department
        for t in teachers
          tr
            td
              a(href="/teachers/"+t.mID)
                img(src=t.image)
            td
              h3= t.firstName + " " + t.lastName
            td
              h4= t.department
          

    .row
      .col-xs-12
