extends /layout

block content
  .container
    if found
      .page-header
        h1= title
      .row
        .col-xs-12
          img.teacher-profile-img(src="https://webeim.regis.org/photos/regis/Staff/"+teacher.tID+".jpg")
    else
      .page-header
        h1 That teacher does not exist!

      .row
        .col-xs-12
          a.btn.btn-default(href="/teachers") Teacher Index
