extends /layout

block content
  .container
    .page-header
      h1= title
    .col-xs-12
      .row
        img.teacher-profile-img(src="https://webeim.regis.org/photos/regis/Staff/"+teacher.tID+".jpg")
