extends /layout

block content
  .container
    if teacher == false
      .page-header
        h1 That teacher does not exist!
    
    else
      .page-header
        h1= title
      .row
        .col-xs-12.col-sm-2
          img.teacher-profile-img(src=teacher.image)
        .col-xs-12.col-sm-10
          b Liked by _% of students.
      
      hr
      .col-xs-12.col-sm-6
        
        button.btn.btn-success.disabled(title="This is not one of your teachers!") Like   
        button.btn.btn-danger.disabled(title="This is not one of your teachers!") Dislike
    
    .col-xs-12.col-sm-6
      if teacher != false
        a.btn.btn-default.right(href="http://moodle.regis.org/user/profile.php?id="+teacher.mID, target="_blank") Moodle Page
      a.btn.btn-primary.right(href="/teachers") Back to Teachers
